:root{
  --primary-color:rgb(22 163 74 );
  --bg-light: hsl(180, 14%, 97%);
  --bg-color:rgb(240 253 244 );
  --btn-color: hsl(82, 81%, 44%);
  --txt-color: hsla(130, 56%, 12%, 1);
  font-size: 62.5%; /* 1rem = 10px*/

}

table{
align-items: center;

}
th{
  
  background-color:var(--btn-color);
  font-size: 2rem;
  font-family: 'DM Sans'; 
  color: var(--txt-color);
  padding: .5rem;
}

td{
 font-size: 1.5rem;
 padding: .5rem;

}
.text-danger,
.text-edit{
  width: 45rem;
  background-color: #f87171;
  border-radius: 0.5rem;
  padding: .5rem .8rem .5rem;
 font-style: oblique;


}

.text-edit{
  background-color: var(--primary-color);
}

.text-danger:hover{
  background-color: hsl(0, 89%, 76%);
  transition: background 200ms;
}

.text-edit:hover{
  background-color: hsl(135, 89%, 76%);
  transition: background 200ms;
}
