

header{
  /*preencher tela toda*/
  display:block;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 1;
  background-color: var(--primary-color)
}



section{
  top: 9rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  /* min-height: 80%; */
  flex-direction: column;
  position: absolute;
}

table{
align-items: center;

}
th{
  
  background-color:var(--btn-color);
  font-size: 2rem;
  font-family: 'DM Sans'; 
  color: var(--txt-color);
  padding: .5rem;
}

td{
 font-size: 1.5rem;
 padding: .5rem;

}
.text-danger,
.text-edit{
  width: 45rem;
  background-color: #f87171;
  border-radius: 0.5rem;
  padding: .5rem .8rem .5rem;
 font-style: oblique;


}

.text-edit{
  background-color: var(--primary-color);
}

.text-danger:hover{
  background-color: hsl(0, 89%, 76%);
  transition: background 200ms;
}

.text-edit:hover{
  background-color: hsl(135, 89%, 76%);
  transition: background 200ms;
}
