.alert-danger{
 /*  width: 45rem; */
 margin-top: 1rem;
  background-color: #f87171;
  border-radius: 0.5rem;
  padding: 1rem;
 font-style: oblique;
 font-size: 1.2rem;

}

.alert-success{
  background-color: #bef264;
  border-radius: 0.5rem;
  padding: 1rem;
 font-style: oblique;
 font-size: 1.2rem;
}