<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Facas de corte e vinco</title>
  
  <link rel="stylesheet" href="/css/cadastro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>

 <header>
  <div class="description">
    <a href="/">    <img  id="imgLogo" src="/assets/lg_gerprint (1).png" alt=""></a>

    <h4>Cadastro</h4>
  </div>

 

 </header>
      
   <section id="form-Cadastro">
    <div class="contents">
      <ul>
        <% for (let error of errors){%>
        <li>
         <%=error.texto%>
      </li>
      <%}%>
    </ul>
      <form action="/cadastro/register" method="POST">
        <fieldset>
          <legend>Cadastro</legend>
         <div class="field-group">
         
            <label for="id">Id:</label>
            <input type="number" name="idCadastro" id="idCadastro" >
         
    
         
            <label for="cliente">Cliente:</label>
            <input type="text" name="cliente" id="cliente">
       
    
            <label for="codigo">Código:</label>
            <input type="number" name="codigo"  id="codigo">
         
    
      
            <label for="referencia">Referencia:</label>
            <input type="text" name="referencia" id="referencia">
       
      
            <label for="observacao">Observação:</label>
            <textarea  cols="15" rows="5"  placeholder=" observaçao" id="observacao"></textarea>
        
    
    
            <label for="tipo_maquina">
              <span>Maquina</span>
            </label>
            <select id="tipo_maquina" name="tipo_maquina" >
              <option value="bobst">Bobst</option>
              <option value="manual">Manual</option>
            </select>
     
        
          </div>
        </fieldset>
        <div class="buttons">
          <button  id="btn-submit"  type="submit" >Salvar</button>
          <button id="btn-submit"  type="submit">pesquisa</button>
        </div>
        
      </form>
    </div>
   </section>
   
 
</body>
</html>
