<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-Catálago facas de corte e vinco</title>
  
  <link rel="stylesheet" href='/css/style.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>

 <header>
  <div class="description">
    <img  id="imgLogo" src="/assets/lg_gerprint (1).png" alt="">
    <h4>Catálogo facas de corte e vinco</h4>
  </div>
 </header>
      
   <section id="form-login">
    <div class="contents">
     <form action="#">
      <label  for="login">E-mail</label>
     <input  class="input-login" autofocus type="email" name="login" id="login">
      <label for="password">Senha</label>
      <input class="input-senha" type="password" name="senha" id="password">
     <button id="btn-submit"  type="submit">Login</button> 
     </form>
    </div>
   </section>
   
 
</body>
</html>