<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-Catálago facas de corte e vinco</title>
  
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href='/css/style-login.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>

 <header>
  <div class="description">
    <a href="/login/logout">    <img  id="imgLogo" src="/assets/lg_gerprint (1).png" alt=""></a>

    <h4><a href="/cadastro/index">Cadastra Facas</a></h4>

    
  </div>
 </header>

   <section id="form-login">
   
    <div class="contents">
   
     <h1>Ola <%=user.email%></h1>
     <p>Clique no logo pra Sair e Criar outra Conta</p>
     <span><%-include('includes/messages');%></span> 
    
    </div>
   </section>
   
 
</body>
</html>